<div class="container">
    <div id="range-selector">
       
        <!-- <div>
            <mat-form-field>
                <mat-label>Choose a date From</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              &nbsp;&nbsp;&nbsp; 
              <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div> -->

        <div id="update-nav">
            <div id="range-selector">
              <input type="button" id="1m" onclick="period()" value="1m" />
              <input type="button" id="3m" onclick="period()" value="3m"/>
              <input type="button" id="6m" onclick="period()" value="6m"/>
              <input type="button" id="1y" onclick="period()" value="1y"/>
              <input type="button" id="all" onclick="period()" value="All"/>
            </div>
            <div id="date-selector" class="">
                From:<input type="date" id="fromDate">
                To:<input type="date" id="toDate">
            </div>
          </div>

        <div class="row">
            <div class="col-xl-7 mx-0 p-8 m-10">
                <canvas id="canvas1"></canvas>
            </div>
        </div>
    </div>