@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.form-group {
    mat-form-field {
        width: calc(100% - 2.5rem); 
    }
    .alert {
        width: calc(100% - 2.5rem); 
    }
}

.mat-icon {
    font-size: 21px;
    vertical-align: middle;
  }


