<body>
    <mat-card>
        <mat-card-content class="barchart">
            <!-- <div mat-card-avater class ="barchart"></div> -->
            <div class="left">
                <app-barchart></app-barchart>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="right">
                <app-piechart></app-piechart>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <app-doughnutchart></app-doughnutchart>
            </div>
        </mat-card-content>
    </mat-card>


</body>