<div class="jumbotron text-center">
    <h1 class="display-3">My Expense Tracker App</h1>
    <p class="lead">Welcome to your personal financial helper!</p>
    <hr class="my-4">
    <!-- Add router links -->
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
        &nbsp;
        <a [routerLink]="['/login']" class="btn btn-secondary">Login</a> 
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <h3>Log Expense Item</h3>
    </div>
    <div class="col-md-4">
        <h3>View Expense Charts</h3>
    </div>
    <div class="col-md-4">
        <h3>Convert the Currency</h3>
    </div>
</div>


